<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278004198748-r1ovgum9b194tl4n6mth83m8m8k2qv2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278004198748-r1ovgum9b194tl4n6mth83m8m8k2qv2o</string>
	<key>API_KEY</key>
	<string>AIzaSyDzPGr8hp1Ih9n23kygwVrizNq0unCwb94</string>
	<key>GCM_SENDER_ID</key>
	<string>278004198748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>byoons.proj1-20200307</string>
	<key>PROJECT_ID</key>
	<string>atti-1053e</string>
	<key>STORAGE_BUCKET</key>
	<string>atti-1053e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278004198748:ios:d17c22b9b1cd35a942e599</string>
	<key>DATABASE_URL</key>
	<string>https://atti-1053e.firebaseio.com</string>
</dict>
</plist>